Source: ovotext
Maintainer: marco caselli <marcocas@gmail.com>
Section: editors
Priority: optional
Standards-Version: 0.1.0
Build-Depends: fpc, lazarus, lcl, lcl-utils, debhelper (>= 8), libdbus-glib-1-dev

Package: ovotext
Version: 0.1.0
Section: editors
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Maintainer: marco caselli <marcocas@gmail.com>
Description: ovotext is a simple text editor written in Lazarus/FreePascal.
 .
 Some features:
 .
  * Tabbed editor.
  * Syntax highligthing for a lot of programming languages and file formats.
  * Undo/Redo support.
  * Print with syntax highligthing.

